/* Fonts */
@font-face {
    font-family: Roboto;
    src:url(/fonts/roboto/Roboto-Light.ttf);
  }
  @font-face {
    font-family: Roboto;
    src:url(/fonts/roboto/Roboto-Regular.ttf);
    font-weight: 300;
  }
  @font-face {
    font-family: Roboto;
    src:url(/fonts/roboto/Roboto-Medium.ttf);
    font-weight: bold;
  }
  @font-face {
    font-family: Roboto;
    src:url(/fonts/roboto/Roboto-LightItalic.ttf);
    font-style: italic;
  }
  
  @font-face {
    font-family: FiraSans;
    src:url(/fonts/fira_sans/FiraSans-Regular.ttf);
  }
  @font-face {
    font-family: FiraSans;
    src:url(/fonts/fira_sans/FiraSans-SemiBold.ttf);
    font-weight: bold;
  }
  
  body{
    font-family: Roboto;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: FiraSans;
  }