// TODO: Split into multiple files for a better overview!

// main.scss
@import "vars";
@import "custom-vars.scss";
@import "custom-typography";
@import "mixins";
@import "fonts";
@import "header";
@import "footer";
@import "sidebar";
@import "boxes";
@import "code";
@import "toc";
@import "toplink";
@import "photoswipe-custom.scss";
@import "share-bar";


/* LAYOUT*/
body{
  @include for-mobile{
    padding:6px;
    margin:0;
  }
}
.main-sidebar {
  @include make-sidebar(240px);
  order: 2;
  margin-left: 48px;

  @include for-mobile {
      order: 2;
      margin-left: 0;
  }
}
.main-content {
  @include make-content;
  order: 1;
}
.is-content{
  overflow:hidden;
}

// Additional layout classes
.is-wrapper{
    padding: 0 20px;
}

.is-container-large, .is-container-medium, .is-container-small {
    min-width: 0;
    margin-left: auto;
    margin-right: auto;
}
.is-width-small,
.is-container-small {
 max-width:$width-small;
}
.is-width-medium,
.is-container-medium {
 max-width:$width-medium;
}
.is-width-large,
.is-container-large {
 max-width:$width-large;
}

/* floats, ie for figures */
.is-float-left{
  float:left;
  margin-right:24px;
}
.is-float-right{
  float:right;
  margin-left:24px;
}
/* Article layout */
article header, article footer, .is-sidebar-widget .recent{
  ul{
    margin: 4px 0 4px 20px;
    list-style: none;
    li{
      float:left;
      a{
        color: $color-text-secondary;
      }
    }
    li::after{
      content: ",";
      margin-right: 4px;
    }
    li:last-child::after{
        content: "";
    }
  }
  ul.tags{
    a::before{
        content: "#";
    }
  }
}
/* ICONS */
svg.iconify{
  float: left;
  height: 24px;
  color: $color-text-secondary;
}
/* Share bar */
article footer{
  h3{
    margin-top:8px;
  }
}

/* Post navigation */
.is-post-previous, .is-post-next{
  /*display: block;*/
  padding: 8px 0;
  /*width: calc( 50% - 12px );
  min-width: calc( 50% - 12px );*/
}

.is-post-previous{
  /*margin-right: 12px;*/
  padding-left:8px;
  border-left-width: 4px;
  border-left-color: lightgray;
}
.is-post-previous:hover{
  border-left-color: $color-link-hover;
}
.is-post-next{
  text-align: right;
  /*margin-left: 12px;*/
  padding-right: 8px;
  border-right-width: 4px;
  border-right-color: lightgray;
}
.is-post-next:hover{
  border-right-color: $color-link-hover;
}

/* Related posts */

.is-related{
  .is-row > .is-col.is-33{
    /*max-width: 33.333%;*/
    max-width:216px; /* not really nice, but necessary to prevent the box from expanding over 1/3*/
  }
  a{
    width: 100%;
    display: block;
  }
  img{
    width: 100%;
  }
  .is-post-title{
    margin: 8px;
    font-family: FiraSans;
    font-size: 1.25em;
    font-weight: bold;
  }
  time{
    margin: 0 8px;
  }
}

/* Alphebtical navigation */
nav.alphabet a{
  padding: 4px 8px;
}