<article class="is-content is-stack-40">

  <header class="is-stack-24">

    {{ partial "helpers/featured.html" . }}

    <a name="top"></a>
    <h1 class="is-stack-16">{{ .Title }}</h1>

    {{ partial "helpers/meta_time.html" . }}
    {{ partial "helpers/meta_categories.html" . }}
    {{ partial "helpers/meta_tags.html" . }}
  </header>

  {{ partials "helpers/toc.html" . }}

  {{ partial "toplink" .}}


  {{ .Content }}

  <footer class="is-border-top is-stack-20">
    {{ partial "helpers/social_share.html" . }}
  </footer>
</article>

{{ partial "helpers/nav_prevnext.html" . }}
{{ partial "helpers/nav_related.html" . }}